//mixins
@import 'mixins/_resume';

//fonts
//@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
$FontPrimary: 'Questrial', sans-serif;

//styles
$BorderRadius: 5px;
$BoxShadow: 0px 6px 10px 0px rgba(0,0,0,0.15);
$FontSizeHeader1: 75px;
$FontSizeHeader2: 35px;
$FontSizeSubtitle: 15px;
$ImageFilter: brightness(0.8) contrast(0.7);

//colors
$ColorPrimary:  #886870;
$ColorSecondary: #A09898;
$ColorText: black;
$ColorWhite: #FFFFFF;
$ColorBlack: #000000;

$ColorProject1:#317e9d;
$ColorProject2:#8594a3;
$ColorProject3:#d0a9ac;
$ColorProject4: #ef9593;

//images
$ImageBanner1: "../res/gifs/bearboi.gif";
$ImageBanner2: "../res/gifs/yuasa1.gif";
$ImageBanner3: "";
$ImageBanner4: "";
$PortfolioThumb1: "";
$PortfolioThumb2: "";
$PortfolioThumb3: "";

body, html {
  overflow: visible;
}

.portfolio-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding-bottom: 100px;

  .port-item {
    padding-top: 56.25%;
    text-align: left;
    transition: 1s;

    .hover-title {
      background: white !important;
      height: 80px;

      p {
        color: black;
      }
    }

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }

  .port1 {
    background: url("../res/backpack_barber_full_mockup_v8.png");
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    margin-top: 100px;
    opacity: 0;
    &:hover {
      background-size: 140%;
      cursor: pointer;
      //transform: scale(1.05)
    }
  }

  .port2 {
    background: url("../res/gifs/quickkeys.gif");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center 0px;
    opacity: 1;
    &:hover {
      background-size: 110%;
      cursor: pointer;
    }
  }

  .port3 {
    background: url("../res/gifs/drummerboi.gif");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center 0px;
    margin-top: 100px;
    opacity: 0;
    &:hover {
      background-size: 110%;
      cursor: pointer;
    }
  }

  .port4 {
    background: url("../res/gifs/puzzle.gif");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center 0px;
    opacity: 1;
    &:hover {
      background-size: 110%;
      cursor: pointer;
    }
  }

  .port5 {
    background: url("../res/gifs/material.gif");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center 0px;
    opacity: 0;
    margin-top: 100px;
    &:hover {
      background-size: 110%;
      cursor: pointer;
    }
  }

  .port6 {
    background: url("../res/gifs/monday.gif");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    opacity: 0;
    margin-top: 100px;
    &:hover {
      background-size: 110%;
      cursor: pointer;
    }
  }

  .port7 {
    background: url("../res/gifs/bearboi.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0;
    margin-top: 100px;
    &:hover {
      background-size: 110%;
      cursor: pointer;
    }
  }

  .port8 {
    background: url("../res/gifs/sv-aquatic-kingdom.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    opacity: 0;
    margin-top: 100px;
    &:hover {
      background-size: 110%;
      cursor: pointer;
    }
  }

  h3 {
    padding: 20px 20px 10px 0px;
    margin: 0px;
    opacity: 1;
  }

  p {
    padding: 0px;
    margin: 0px;
    opacity: 1;
  }
}

.page-head-gal {
  //height: 200px;
  max-width: 1100px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;

  h1 {
    font-size: 36px;
    margin-left: 0px !important;
    margin-top: 120px;
    color: black;
    font-weight: normal;
  }

  p {
    font-size: 18px;
    //margin-top: 30px;
  }
}

.page-head {
  height: 80vh;
  width: 100%;
  text-align: center;

  .parallax {
    //background: red;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 240px;
  }

  .animation {
    background: gray;
    width: 450px;
    height: 160px;
    margin: auto;
    background-repeat: no-repeat;
  }

  .ani1 {
    background: url("../res/gifs/hello.gif");
    background-size: cover;
    background-position: -30px 200px;
  }

  .ani2 {
    background: url("../res/gifs/bearboi.gif");
    background-size: contain;
    background-position: center;
  }

  h1 {
    font-size: 36px;
    margin-left: 0px !important;
    margin-top: 40px;
    color: black;
    opacity: 1 !important;
  }

  p {
    font-size: 18px;
    margin-top: 40px;
  }
}

.background {
  //height: 100vh;
  background-attachment: fixed;
}

.container {
  background: #E0E0E0;
}

.content-wrapper {
  //text-align: left;
  //margin-left: 150px;
  font-family: $FontPrimary;
  //margin-top: 60px;

  .content-title {
    position: absolute;
    color: black;
    font-weight: lighter;
    font-size: 40px;
    padding: 20% 0px 0px 10%;
    z-index: 10;
    font-family: $FontPrimary;
  }

  .content-subtitle {
    position: absolute;
    color: black;
    font-size: 20px;
    z-index: 10;
    font-family: $FontPrimary;
    opacity: 0.4;
    padding: 23% 0px 0px 10%;
    width: 550px;
    line-height: 30px;
  }
}

#sec1 {
  height: 100vh;
  background-image: url("../res/gifs/hello.gif");
  background-color: white;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;

}

#sec2 {
  //background-image: url($ImageBanner2);
  background: linear-gradient(90deg, white, #bdbdbd);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //background-color: #eeeeee;
  //box-shadow: 0px 0px 75px 45px rgba(black,0.2) inset;
}

#sec3 {
  height: 100vh;
  background-image: url($ImageBanner1);
  background-color: white;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 9;
  //box-shadow: 0px 50px 50px 50px rgba(white,1) inset;
  //border-radius: 400px;
}

#sec4 {
  height: 100vh;
  background: linear-gradient(90deg, white, #bdbdbd);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*.fade {
  position: absolute;
  background: white;
  width: 30%;
  height: 300px;
  bottom: 0px;
  z-index: 9;
  box-shadow: 50px 0px 75px 45px rgba(255,255,255,1);
}*/

/*h2 {
  margin-left: 150px;
  margin-top: 300px;
  font-size: 70px !important;
}

p {
  margin-left: 150px;
}*/

.projects, .drawings {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  height: 100vh;

  .right-content {
    //background: #E0E0E0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    padding: 200px 100px 200px 0px;

    .grid-item {
      background-color: blue;
      border-radius: 10px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      transition: 300ms;
      height: 0px;
      padding-top: 56.25%;
      text-align: center;

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
        box-shadow: 0px 15px 20px 5px rgba(black,0.1);


        &:hover {
          &:after {
            color: black;
            text-decoration: none;
          }
        }
      }
    }

    #item1 {
      background-image: url("../res/gifs/drummerboi.gif");
      &:hover {
        &:after {
          //content: "Drummerboi";
          text-decoration: none;
        }
      }
    }
    #item2 {
      background-image: url("../res/gifs/quickkeys.gif");
      &:hover {
        &:after {
          //content: "Quick Keys";
        }
      }
    }
    #item3 {
      background-image: url("../res/gifs/puzzle.gif");
      &:hover {
        &:after {
          //content: "JQuery Puzzle";
        }
      }
    }
    #item4 {
      background-image: url("../res/gifs/sv-aquatic-kingdom.gif");
      &:hover {
        &:after {
          //content: "Sonic Velocity";
        }
      }
    }
  }
}

.nav {
  position: fixed;
  background-color: white;
  height: 60px;
  width: 100%;
  z-index: 11;
  top: 0px;
  font-size: 13px !important;
  //box-shadow: 0px 5px 15px 5px rgba(black,.1);

  .nav-links {
    width: 100%;
    margin: auto;
    text-align: center;
  }

  h2 {
    position: absolute;
    margin-left: 45px;
    font-family: $FontPrimary;
    opacity: 1;
    line-height: 30px;
  }

  ul {
    display: inline-flex;
    list-style: none;
    margin:0px auto 0px auto;
    padding: 0px;

    a {
      text-decoration: none;
      height: 60px;
      //transition: 300ms;

      &:hover {
        .indicator {
          width: 50%;
          opacity: 0.5;
        }
      }
    }

    li {
      margin-left: 12px;
      margin-right: 12px;
      font-family: $FontPrimary;
      line-height: 60px;
      color: black;
      font-size: 14px;
      font-weight: bold;
    }
  }
}

.indicator {
  background: black;
  height: 3px;
  border-radius: 50px 50px 0px 0px;
  width: 0%;
  transition: 300ms;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  margin-top: -3px;
}

.active {
  background: black;
  height: 3px;
  border-radius: 50px 50px 0px 0px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -3px;
}

.project-banner {
  background: linear-gradient(white, #e0e0e0);
  width: 100%;
  height: 400px;
  //background-image: url("../../res/gifs/quickkeys.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 60px;

  h1 {
    color: black;
    text-align: center;
    font-size: 60px;
    padding-top: 60px;
    font-family: $FontPrimary;
    font-weight: normal;
    //mix-blend-mode: difference;
  }

  p {
    text-align: center;
    color: black;
  }

  .project-icon {
    //background: black;
    width: 100px;
    height: 100px;
    padding: 0px auto 0px auto;
  }
}

.sonicv-banner {
  //background: linear-gradient(white, #42A5F5);
}

.drummerboi-banner {
  //background: linear-gradient(white, #ef9a9a);
}

.project-container {
  max-width: 1100px;
  padding: 50px;
  //background-color: red;
  margin: auto;
  display: flex;
  font-family: $FontPrimary;
  line-height: 30px;

  h2 {
    color: black;
  }

  p {
    color: black;
    opacity: 0.8;
  }
}


.full-img {
  display: block;

  .shot {
    width: 100%;
  }
}

.img-container {
  //background: blue;
}

.text-container {
  //background: blue;
  margin-left: 50px;

  p {
    a {
      color: darkblue;
    }
  }
}

.shot {
  //position: absolute;
  background: black;
  width: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 40px;
}

.shot-img {
  padding-top: 56.25%;
}

.back-link {
  display: flex;
  position: fixed;
  color: black;
  font-weight: bold;
  bottom: 40px;
  left: 40px;
  font-size: 22px;
  line-height: 40px;
  transition: 300ms;
  z-index: 10;

  &:hover {
    opacity: 0.7;
    cursor: pointer;

    .back-arrow {
      transform: translateX(-10px);
    }
  }
}

.back-arrow {
  //background: red;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-image: url("../res/back.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 300ms;
}

.sv1 {
  background-image: url("../res/gifs/sv-frozen-mountain.gif");
  padding-top: 75%;
  background-size: cover;
}

.sv2 {
  background-image: url("../res/gifs/sv-aquatic-kingdom.gif");
  padding-top: 75%;
  background-size: cover;
}

.sv3 {
  background-image: url("../res/gifs/sv-skyward-terminal.gif");
  padding-top: 75%;
  background-size: cover;
}

.tnb {
  background-image: url("../res/gifs/puzzle.gif");
  background-size: cover;
}

.qk {
  background-image: url("../res/gifs/quickkeys.gif");
  background-size: cover;
}

.db {
  background-image: url("../res/gifs/drummerboi.gif");
  background-size: cover;
}

img {
  width: 100%;
}

.banners {
  //display: grid;
  //grid-template-columns: 1fr 1fr;
  background: url("../res/gifs/waiting.gif");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-attachment: fixed;
}

.banner-content {
  margin-left: 300px;
}

.wave {
  position: fixed;
  width: 100%;
  height: 140px;
  top: 350px;
  background: url("../res/wave.svg");
  animation: wave 8s linear infinite;
  transform: rotate(180deg);
  pointer-events: none;
  mix-blend-mode: difference;
}

@keyframes wave {
  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: -1900px 0px;
  }
}

.banner {
  //background: gray;
  height: 40vh;
  //background: url("../../res/wave.svg");
  background-size: contain;
  //background-position:top;
  background-repeat:repeat-x;
  background-attachment: fixed;
  filter:invert(1);
  opacity: 0.4;
  animation: wave 8s linear infinite;
  transition: 300ms;
  text-decoration: none !important;


  h1 {
    margin: 0px;
    line-height: 110px;
    //padding-top: 120px;
    //padding-left: 150px;
    font-size: 120px;
    font-weight: bold;
    mix-blend-mode: difference;
    //text-align: center;
    font-family: $FontPrimary;
    transition: 600ms;
    text-decoration: none !important;
  }

  p {
    color: red;
    mix-blend-mode: difference;
    margin-bottom: 30px;
    font-size: 22px;
    //opacity: 0.5;
  }
}

.banner1 {
  padding-top: 200px;
  //background-image: url("../../res/gifs/soniccd.gif");
  h1 {
    color: $ColorProject1;
  }
  p {
    color: $ColorProject1;
  }
  .view-button {
    background:rgba(0,0,0,0);
    border: 3px solid $ColorProject1;
    color:$ColorProject1;

    &:hover {
      background: $ColorProject1;
      color: black;
    }
  }
}

.banner2 {
  h1 {
    color: $ColorProject2;
  }
  p {
    color: $ColorProject2;
  }
  .view-button {
    background:rgba(0,0,0,0);
    border: 3px solid $ColorProject2;
    color: $ColorProject2;

    &:hover {
      background: $ColorProject2;
      color: black;
    }
  }
  //background-image: url("../../res/gifs/soniccd.gif");
}

.banner3 {
  h1 {
    color: $ColorProject3;
  }
  p {
    color: $ColorProject3;
  }
  .view-button {
    background:rgba(0,0,0,0);
    border: 3px solid $ColorProject3;
    color: $ColorProject3;

    &:hover {
      background: $ColorProject3;
      color: black;
    }
  }
  //background-image: url("../../res/gifs/soniccd.gif");
}

.banner4 {
  h1 {
    color: $ColorProject4;
  }
  p {
    color: $ColorProject4;
  }
  .view-button {
    background:rgba(0,0,0,0);
    border: 3px solid $ColorProject4;
    color: $ColorProject4;

    &:hover {
      background: $ColorProject4;
      color: black;
    }
  }
  //background-image: url("../../res/gifs/soniccd.gif");
}

.banner-img {
  height: 100px;
  margin-top: -600px;
  transition: 600ms;
}

.banner-img1 {

  //op  acity: 0;
}

.banner-img2 {

  //opacity: 0;
}

.banner-img3 {

  //opacity: 0;
}

.banner-img4 {

  //opacity: 0;
}

.view-button {
  //background-color: red;
  width: 120px;
  height: 60px;
  border-radius: 10px;
  border: 3px black solid;
  text-align: center;
  line-height: 60px;
  color: black;
  font-weight: bold;
  background: rgba(0,0,0,0);
  //margin-left: 150px;
  transition: 300ms;
  margin-top: 30px;
  padding: 15px 30px 15px 30px;
  mix-blend-mode: difference;
  z-index: 100;

  &:hover {
    background-color: rgba(black,1);
    color: rgba(white,1);
    cursor: pointer;
    text-decoration: none;
  }
}

.right-content-drawings {
  //background: #E0E0E0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 200px 100px 200px 0px;

  .grid-item {
    //background-color: blue;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 300ms;
    height: 550px;
    margin-bottom: 30px;
    filter:grayscale(1);

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
      box-shadow: 0px 15px 20px 5px rgba(black,0.1);

      &:after {
        //content: "Hello werld";
      }

    }
  }

  #item1 {
    background-image: url("../res/drawings/doodle15.jpg");
    background-size: 160%;
    //background-size: contain;
    //transform: rotate(30deg);
  }
  #item2 {
    background-image: url("../res/drawings/doodle13.jpg");
    background-size: 160%;
    background-position: -160px center;
  }
  #item3 {
    background-image: url("../res/drawings/doodle14.jpg");
    background-position: center -150px;
    background-size: 150%;
  }
  #item4 {
    background-image: url("../res/drawings/doodle14.jpg");
    background-size: 160%;
  }
  #item5 {
    background-image: url("../res/drawings/doodle11.jpg");
  }
  #item6 {
    background-image: url("../res/drawings/doodle6.jpg");
  }
  #item7 {
    background-image: url("../res/drawings/doodle7.jpg");
  }
  #item8 {
    background-image: url("../res/drawings/doodle10.jpg");
  }
  #item9 {
    background-image: url("../res/drawings/doodle11.jpg");
  }
}

.top {
  position: fixed;
  width: 100%;
  height: 480px;
  margin: 0px;
  background: black;
  bottom: 0px;
  z-index: -1;
}

.bubble-container {
  position: fixed;
  padding-bottom: 100px;
  z-index: 2;
  margin: auto auto auto 50px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: 110px;
  width: 30px;
}

h3 {
  color: rgba(black, 0.4);
  margin-bottom: 25px;
  opacity: 0.4;
}

.social-bubble {
  //background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 10px;
  transition: 300ms;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 5px;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

#facebook {
  background-image: url("../res/fb.svg");
  filter: invert(1);
}

#instagram {
  background-image: url("../res/insta2.png");
  //filter:invert(1);
}

#twitter {
  background-image: url("../res/twitter.svg");
  filter: invert(1);
}

#pinterest {
  background-image: url("../res/pinterest.svg");
  //filter: invert(1);
}

a {
  text-decoration: none;
  color: white;

  &:hover {
    opacity: 0.6;
  }
}

ul {
  list-style: none;
}

//----------gallery stuff----------

.gallery-container {
  //background: red;
  max-width: 1100px;
  margin: 0px auto 0px auto;

  h1 {
    font-family: $FontPrimary;
    font-size: 40px;
    font-weight: lighter;
    opacity: 0.7;
    margin-left: 30px;
  }

  p {
    margin-left: 0px !important;
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    //background: yellow;
    width: 100%;
    //height: 1000px;
    padding-bottom: 60px;
  }

  .gal-item {
    margin: 40px 20px 40px 20px;
    background: #BDBDBD;
    height: 550px;
    //border-radius:10px;
    transition: 300ms;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0px 15px 20px 5px rgba(black,0.1);
      cursor: pointer;
    }
  }

  .item1 {
    background: url("../res/drawings/doodle1.jpg");
    background-position: center;
    background-size: cover;
  }

  .item2 {
    background: url("../res/drawings/doodle2.jpg");
    background-position: center;
    background-size: cover;
  }

  .item3 {
    background: url("../res/drawings/doodle3.jpg");
    background-position: center;
    background-size: cover;
  }

  .item4 {
    background: url("../res/drawings/doodle4.jpg");
    background-position: center;
    background-size: cover;
  }

  .item5 {
    background: url("../res/drawings/doodle5.jpg");
    background-position: center;
    background-size: cover;
  }

  .item6 {
    background: url("../res/drawings/doodle6.jpg");
    background-position: center;
    background-size: cover;
  }

  .item7 {
    background: url("../res/drawings/doodle7.jpg");
    background-position: center;
    background-size: cover;
    height: 670px;
  }

  .item8 {
    background: url("../res/drawings/doodle8.jpg");
    background-position: center;
    background-size: cover;
    height: 800ms;
  }

  .item9 {
    background: url("../res/drawings/doodle9.jpg");
    background-position: center;
    background-size: cover;
  }

  .item10 {
    background: url("../res/drawings/doodle10.jpg");
    background-position: center;
    background-size: cover;
    height: 300px;
  }

  .item11 {
    background: url("../res/drawings/doodle11.jpg");
    background-position: center -190px;
    background-size: 130%;
    height: 400px;
  }

  .item12 {
    background: url("../res/drawings/doodle12.jpg");
    background-position: left;
    background-size: cover;
    height: 200px;
  }

  .item13 {
    background: url("../res/drawings/doodle13.jpg");
    background-position: center;
    background-size: 120%;
    height: 400px;
  }

  .item14 {
    background: url("../res/drawings/doodle14.jpg");
    background-position: center -100px;
    background-size: 120%;
    height: 510px;

  }

  .item15 {
    background: url("../res/drawings/doodle15.jpg");
    background-position: center;
    background-size: 120%;
    height: 400px;
  }

  .item16 {
    background: url("../res/drawings/board.jpg");
    background-position: center;
    background-size: cover;
    height: 600px;
  }

  .item17 {
    background: url("../res/drawings/tails.jpg");
    background-position: center;
    background-size: cover;
    height: 600px;
  }

  .item18 {
    background: url("../res/drawings/girl.jpg");
    background-position: center;
    background-size: cover;
    height: 600px;
  }

  .item19 {
    background: url("../res/drawings/color.jpg");
    background-position: center;
    background-size: cover;
    height: 600px;
  }
}

.gallery-banner {
  background: red;
  width: 100%;
  height: 400px;
  background: url("../res/drawings/doodle9.jpg");
  background-attachment: fixed;
  background-position: center -120px;
  text-align: center;
  font-family: $FontPrimary;

  h1 {
    color: white;
    font-size: 100px;
    mix-blend-mode: difference;
    padding-top: 150px;
  }

  p {
    color: white;
    mix-blend-mode: difference;
    font-size: 22px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 1300px) {
    .bubble-container {
      position: absolute;
    }
}

@media only screen and (max-width: 768px) {
    .nav {
      background: white;
      width: 100%;
      position: relative;
    }

    .bubble-container {
      position: relative;
      display: flex;
      width: 150px;
      margin: auto;
      padding-bottom: 0px;
    }

    .portfolio-grid {
      grid-template-columns: 1fr; 

      .hover-title {
        padding-left: 20px;
      }
    }

    .page-head {
      height: 100vh;

      h1 {
        margin-top: 0px;
        font-size: 28px;
        padding-top: 350px;
      }

      .animation {
        height: 200px;
        background-position: -60px center;
        margin-top: -50px;
      }

      p {
        font-size: 10px;
        margin-top: 10px;
      }
    }

    .gallery-grid {
      grid-template-columns: 1fr;
    }
}
